.container {
  padding: 12px;
  margin: auto;
  width: 100%;
  max-width: 60%;
}
.container-loading {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container-dashboard {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 20px !important;
  grid-gap: 12px;
}
.cards-container-dashboard-loading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-top: 20px !important;
  grid-gap: 12px;
}

.cards-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards-container-dashboard>mat-card>.info {
  margin-top: 12px;
}

.card-numberOfLaunches {
  background-color: #86c7f3;
  padding: 2em;
}

.card-quantityShipments {
  background-color: #86c7f3;
  padding: 2em;
}

.card-valueLaunches {
  background-color: #b9f599;
  padding: 2em;
}

.details-table-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.details-table-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.details-table-info {
  font-size: 1.2rem;
  margin: 20px 0px 20px 20px;
}
